<html>

<head>
    <title>Home Page - JustePrix</title>
    <link rel="stylesheet" type="text/scss" href="assets/css/main.scss" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="product-image">
            <img src={{ data.image }} alt="" class="product-pic">
        </div>

        <div class="product-details">
            <header>
                <h1 class="title">{{ data.product }}</h1>
                <div class="price">
                    <span class="before">??? €</span>
                </div>
                <div class="rate">
                    <a href="#!" class="active">★</a>
                    <a href="#!" class="active">★</a>
                    <a href="#!" class="active">★</a>
                    <a href="#!">★</a>
                    <a href="#!">★</a>
                </div>
            </header>
            <article>
                <h5>Description</h5>
                <p>{{ data.description }}</p>
            </article>

            <div class="alert alert-secondary">
                <div class="btn">
                    <div>
                        <form action="/" method="POST">
                            <div class="form-group">
                                <label for="prix">Donner le prix de l'objet</label><br/>
                                <input type="number" id="prixObjet" name="prixObjet" placeholder=0><br/>
                                <input class="btn btn-primary" type="submit" value="Envoyer">
                            </div>
                        </form>
                    </div>
                    <div>
                        <form action="/" method="GET">
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="Relancer une partie">
                            </div>
                        </form>
                    </div>
                </div>

                <p>{{ data.resultat }}</p>
                <ul class="list-group">
                    <Label>Vos tentatives : </Label>
                    <li class="list-group-item">Vous avez dit {{ data.tentative }}</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>